<html>
<body>
<h2>HTML Forms</h2>
<form action="/submit" method='post'>
  <label for="Da">da:</label><br>
  <input type="text" id="da" name="da" value="0"><br>
  <label for="basic">basic:</label><br>
  <input type="text" id="basic" name="basic" value="0"><br><br>
  <label for="hra">hra:</label><br>
  <input type="text" id="hra" name="hra" value="0"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

</body>
</html>