<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <style>
        .add-fooditem {
            height: 40vh;
            width: 60vw;
            padding: 3%;
            background-color:orchid
            
        }

        .form-control {
            width: 100%;
        
        }
    </style>
    <div class="container-fluid bg-black p-3">
        <div class="container text-black border border-light rounded add-fooditem">
            <h1 class="display-1 text-center">Add Fooditem</h1>
            <form action="{% url 'addFooditem' %}" method="POST">
                {% csrf_token %}
                <div class="form d-flex flex-row">
                    <div class="mb-3 me-5">
                        <label for="exampleInputEmail1" class="form-label">Food item</label>
                        <input type="text" class="form-control" name="fooditem" id="fooditem" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 me-5">
                        <label for="exampleInputPassword1" class="form-label">Quantity</label>
                        <input type="text" name="quantity" class="form-control" id="quantity">
                    </div>
                    <div class="mb-3 me-5">
                        <label for="exampleInputPassword1" class="form-label">Price</label>
                        <input type="text" name="price" class="form-control" id="price">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mx-auto">Submit</button>
            </form>
        </div>

    </div>

    <div>
        {% block body %}

        <h1 class="display-3 text-center">Orders</h1>

        {% if foods|length > 0 %}

        <ul>
            {% for item in foods %}
            <div class="border rounded m-3 p-3 ps-5">
                <li> Food Item: {{ item.fooditem }}</li>
                <li>Quantity : {{ item.quantity }}</li>
                <li>Price : {{ item.price}}</li>
            </div>
            {% endfor %}
        </ul>

        {% else %}
        <h5 class="display-6 text-center"> NO Orders as of yet </h5>

        {% endif %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>